<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.teajuda.teajuda" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuInicial_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriarRotina_Activity"
            android:label="Criação de Rotinas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MinhasRotinas_Activity"
            android:label="Lista de Rotinas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Atividades_activity"
            android:label="Tarefas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListaEditarRotina_Activity"
            android:label="Editar Rotina"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ListaEditarTarefa_Activity"
            android:label="Editar Tarefas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditarTarefa_Activity"
            android:label="Tarefa"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>
